# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
Package.resolved
Packages

# Xcode
DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate

# Credentials
.netrc

# Developer Settings
Demo\ app/__PACKAGENAME__\ Demo/Resources/DeveloperSettings.xcconfig
